<section class="best" id="blog1">
    <div class="best__container">
        <h2 class="best__title title">Best Australian Online Casino Sites</h2>
        <p class="best__text">
            The best Australian online casino typically provides significant incentives, the newest casino games,
            high-end security and incredibly dependable customer care. In light of this, we are prepared to assist you
            in choosing the best online casino Australia offers after spending many hours researching. According to our
            unique rating algorithm, the top Australian online casino is Ricky casino. However, many more casino sites
            are very similar to it. Below is the list of the best</p>
        <div class="best__tabs-wrap">
            <ul class="best__tabs">
                <li class="best__tabs-item">
                    <button class="best__tabs-btn _active" aria-label="all">All</button>
                </li>
                <li class="best__tabs-item">
                    <button class="best__tabs-btn" aria-label="About">About</button>
                </li>
                <li class="best__tabs-item">
                    <button class="best__tabs-btn " aria-label="Bonuses">Bonuses</button>
                </li>
                <li class="best__tabs-item">
                    <button class="best__tabs-btn" aria-label="Banking">Banking</button>
                </li>
                <li class="best__tabs-item">
                    <button class="best__tabs-btn" aria-label="Games">Games</button>
                </li>
                <li class="best__tabs-item">
                    <button class="best__tabs-btn" aria-label="Info">Info</button>
                </li>
                <li class="best__tabs-item">
                    <button class="best__tabs-btn" aria-label="Pro">Pro</button>
                </li>
            </ul>
        </div>
        <ul class="best__list">
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Mastercard</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Mastercard</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Mastercard</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Mastercard</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Mastercard</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Mastercard</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Mastercard</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Mastercard</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Mastercard</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Mastercard</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Mastercard</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
        </ul>
        <div class="best__pagination">
            <button type="button" class="best__pagination-btn burgundy-btn best__pagination-btn-left" aria-label="button-left">
                <img src="img/page2/best/arrow-btn.svg" alt="arrow" width="11" height="7">
            </button>
            <button type="button" class="best__pagination-btn best__pagination-btn-item " aria-label="button-number">1</button>
            <button type="button" class="best__pagination-btn best__pagination-btn-item" aria-label="button-number">2</button>
            <button type="button" class="best__pagination-btn best__pagination-btn-item _active" aria-label="button-number">3</button>
            <button type="button" class="best__pagination-btn best__pagination-btn-item" aria-label="button-number">4</button>
            <button type="button" class="best__pagination-btn best__pagination-btn-item" aria-label="button-number">5</button>
            <button type="button" class="best__pagination-btn best__pagination-btn-item" aria-label="button-number">6</button>
            <button type="button" class="best__pagination-btn burgundy-btn best__pagination-btn-right" aria-label="button-left">
                <img src="img/page2/best/arrow-btn.svg" alt="arrow" width="11" height="7">
            </button>
        </div>
    </div>
</section>