<footer class="footer">
    <div class="footer__container">
        <a href="#" class="footer__link" aria-label="logo-link">
            <img src="img/logo.svg" alt="logo" width="185" height="54">
        </a>
        <div class="footer__wrapper">
            <ul class="footer__row">
                <li class="footer__item">
                    <div class="footer__item-title">जानकारी</div>
                    <a href="#" class="footer__item-link">संपादकीय कर्मचारी</a>
                    <a href="#" class="footer__item-link">संपादकीय कर्मचारी</a>
                    <a href="#" class="footer__item-link">संपादकीय कर्मचारी</a>
                    <a href="#" class="footer__item-link">संपादकीय कर्मचारी</a>
                </li>
                <li class="footer__item">
                    <div class="footer__item-title">जानकारी</div>
                    <a href="#" class="footer__item-link">संपादकीय कर्मचारी</a>
                    <a href="#" class="footer__item-link">संपादकीय कर्मचारी</a>
                    <a href="#" class="footer__item-link">संपादकीय कर्मचारी</a>
                    <a href="#" class="footer__item-link">संपादकीय कर्मचारी</a>
                </li>
                <li class="footer__item">
                    <div class="footer__item-title">जानकारी</div>
                    <a href="#" class="footer__item-link">संपादकीय कर्मचारी</a>
                    <a href="#" class="footer__item-link">संपादकीय कर्मचारी</a>
                    <a href="#" class="footer__item-link">संपादकीय कर्मचारी</a>
                    <a href="#" class="footer__item-link">संपादकीय कर्मचारी</a>
                </li>
                <li class="footer__item">
                    <div class="footer__item-title">जानकारी</div>
                    <a href="#" class="footer__item-link">संपादकीय कर्मचारी</a>
                    <a href="#" class="footer__item-link">संपादकीय कर्मचारी</a>
                    <a href="#" class="footer__item-link">संपादकीय कर्मचारी</a>
                    <a href="#" class="footer__item-link">संपादकीय कर्मचारी</a>
                </li>
                <li class="footer__item">
                    <div class="footer__item-title">जानकारी</div>
                    <a href="#" class="footer__item-link">संपादकीय कर्मचारी</a>
                    <a href="#" class="footer__item-link">संपादकीय कर्मचारी</a>
                    <a href="#" class="footer__item-link">संपादकीय कर्मचारी</a>
                    <a href="#" class="footer__item-link">संपादकीय कर्मचारी</a>
                </li>
            </ul>
            <div class="footer__social">
                <a href="#" class="footer__social-item grey-btn" aria-label="link-instagram">
                    <svg width="18px">
                        <use xlink:href="img/sprite.svg#insta"></use>
                    </svg>
                </a>
                <a href="#" class="footer__social-item grey-btn" aria-label="link-facebook">
                    <svg width="10px">
                        <use xlink:href="img/sprite.svg#facebook"></use>
                    </svg>
                </a>
                <a href="#" class="footer__social-item grey-btn" aria-label="link-linke">
                    <svg width="19px">
                        <use xlink:href="img/sprite.svg#linke"></use>
                    </svg>
                </a>
                <a href="#" class="footer__social-item grey-btn" aria-label="link-twitter">
                    <svg width="19.5px">
                        <use xlink:href="img/sprite.svg#twitter"></use>
                    </svg>
                </a>
                <a href="#" class="footer__social-item grey-btn" aria-label="link-telegram">
                    <svg width="20px">
                        <use xlink:href="img/sprite.svg#telegram"></use>
                    </svg>
                </a>
                <a href="#" class="footer__social-item grey-btn" aria-label="link-whats">
                    <svg width="20px">
                        <use xlink:href="img/sprite.svg#whats"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="footer__sponsor">
            <a href="#" class="footer__sponsor-item" aria-label="sponsors">
                <img src="img/general-block-image/footer/sponsor.svg" alt="sponsor" width="43" height="18">
            </a>
            <a href="#" class="footer__sponsor-item" aria-label="sponsors">
                <img src="img/general-block-image/footer/sponsor.svg" alt="sponsor" width="43" height="18">
            </a>
            <a href="#" class="footer__sponsor-item" aria-label="sponsors">
                <img src="img/general-block-image/footer/sponsor.svg" alt="sponsor" width="43" height="18">
            </a>
            <a href="#" class="footer__sponsor-item" aria-label="sponsors">
                <img src="img/general-block-image/footer/sponsor.svg" alt="sponsor" width="43" height="18">
            </a>
            <a href="#" class="footer__sponsor-item" aria-label="sponsors">
                <img src="img/general-block-image/footer/sponsor.svg" alt="sponsor" width="43" height="18">
            </a>
        </div>
        <div class="footer__copyright">
            Матеріали сайту призначені для осіб, які досягли 21-річного віку. <br>
            2022 Всі права захищені.
        </div>
    </div>
    <div class="footer__cookie">
        <div class="footer__cookie-img">
            <picture>
                <source srcset="img/general-block-image/footer/cookie.webp" type="image/webp">
                <img loading="lazy" src="img/general-block-image/footer/cookie.png" width="40"
                     height="40" alt="image-casino">
            </picture>
        </div>
        <div class="footer__cookie-info">
            <p class="footer__cookie-text">This site uses cookies to save data. By continuing to follow the site, you will be welcome to save cookies</p>
            <button type="button" aria-label="button-close" class="footer__cookie-btn orange-btn">Ok</button>
        </div>
    </div>
    <button type="button" class="footer__btn-top orange-btn _hidden" aria-label="button-top">
        <img src="img/general-block-image/footer/arrow-top.svg" alt="arrow-top" width="20" height="11">
    </button>
</footer>
