<section class="subscribe">
    <div class="subscribe__container">
        <div class="subscribe__row">
            <h2 class="subscribe__title title">अपडेट की सदस्यता लें और नवीनतम समाचार प्राप्त करें</h2>
            <p class="subscribe__text">ऐसी कई विशेषताएं हैं जो बिटकॉइन को ऑनलाइन कैसीनो और अन्य जगहों पर ऑनलाइन स्थान पर
                लेनदेन के लिए एक लोकप्रिय विकल्प बनाती हैं।</p>
            <form action="#" class="subscribe__form">
                <div class="subscribe__form-wrap">
                    <input type="email" id="email" name="email" class="subscribe__email" placeholder="Email"/>
                    <button type="submit" class="subscribe__submit orange-btn" >प्रदाता अवलोकन</button>
                </div>
            </form>
            <p class="subscribe__info">
                By providing contacts, you agree to the processing of
                <a href="#" class="subscribe__info-link" aria-label="link">personal data</a>
            </p>
        </div>
    </div>
</section>