.payment {
  padding: 30px;
  background: $white;
  border-radius: 8px;
  margin: 0 0 20px 0;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 0;

  }

  &__tabs {
    padding: 5px;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;

    &-btn {
      background: transparent;
      font-size: 13px;
      line-height: 22px;
      padding: 8px 18px 6px;
      display: inline-block;
      border-radius: 8px;
      transition: background-color $transition, box-shadow $transition, color $transition;

      &:hover{
        background: $burgundyBtn;
        box-shadow: $boxShadowBtn;
        color: $white;
      }

      &._active{
        background: $burgundyBtn;
        box-shadow: $boxShadowBtn;
        color: $white;
      }



    }
  }

  &__list {
    display: grid;
    gap: 12px;
    grid-template-columns: calc(33.33% - 8px) calc(33.33% - 8px) calc(33.33% - 8px);
  }

  &__item {
    padding: 20px;
    display: flex;
    align-items: center;
    background: $pink;
    border-radius: 4px;

    &-image {
      max-width: 50px;
      margin: 0 15px 0 0;

      img {
        border-radius: 4px;
      }
    }

    &-name {
      font-size: 15px;
      line-height: 20px;
      color: $black-one;
    }
  }
}

@media screen and (max-width: 1024px) {
  .payment {
    padding: 30px 15px 20px;
    margin: 0 0 10px 0;
    border-radius: 0;
  }
}

@media screen and (max-width: 800px) {
  .payment{
    &__list{
      grid-template-columns: calc(50% - 6px) calc(50% - 6px) ;
    }
  }
}

@media screen and (max-width: 600px) {
  .payment {
    &__row{
      flex-direction: column;
      align-items: flex-start;
      margin: 0 0 20px 0;
    }
    &__title{
      margin: 0 0 10px 0;
    }
    &__list{
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    &__item{
      padding: 0;
      &:not(:last-child){
        margin: 0 0 10px 0;
      }
      &-image{
        max-width: 61px;
        min-width: 60px;
        img{
          min-width: 60px;
        }
      }
    }
  }
}