.casino{
  padding: 135px 0 20px 0;
  background: $burgundy url("../img/page2/casino/bg-desc.webp") no-repeat 50% 0/cover;
  &__breadcrumbs{
    display: flex;
    align-items: center;
    &-link{
      display: inline-block;
      position: relative;
      font-size: 12px;
      line-height: 20px;
      color: $grey;
      transition: color $transition;
      &:hover{
        color: $white;
      }
      &:last-child{
        &:hover{
          color: $grey;
        }
      }

      &:not(:last-child){
        margin: 0 18px 0 0;
        &::before{
          content: '•';
          position: absolute;
          font-size: 12px;
          line-height: 20px;
          color: $grey;
          right: -11px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
  &__title{
    font-family: $font-popins-semb;
    color: $white;
    font-size: 38px;
    line-height: 54px;
  }
}

@media screen and (max-width: 600px){
  .casino{
    padding: 130px 0 10px 0;
    background: $burgundy url("../img/page2/casino/bg-mob.webp") no-repeat 50% 0/cover;
    &__container{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    &__breadcrumbs{
      &-link{
        font-size: 12px;
        line-height: 20px;
      }
    }
    &__title{
      font-size: 28px;
      line-height: 34px;
      margin: 0 0 8px 0;
    }
  }

}