<section class="casino-providers" id="blog1">
    <div class="casino-providers__container">
        <ul class="casino-providers__list">
            <li class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </li>

        </ul>
        <a href="#" class="casino-providers__all-link burgundy-btn">Show All</a>
    </div>
</section>