<section class="casino-payments" id="blog1">
    <div class="casino-payments__container">
        <ul class="casino-payments__list">
            <li class="casino-payments__item">
                <div class="casino-payments__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-payments__item-title">Mastercard</div>
                <div class="casino-payments__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-payments__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-payments__item">
                <div class="casino-payments__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-payments__item-title">Mastercard</div>
                <div class="casino-payments__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-payments__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-payments__item">
                <div class="casino-payments__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-payments__item-title">Mastercard</div>
                <div class="casino-payments__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-payments__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-payments__item">
                <div class="casino-payments__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-payments__item-title">Mastercard</div>
                <div class="casino-payments__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-payments__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-payments__item">
                <div class="casino-payments__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-payments__item-title">Mastercard</div>
                <div class="casino-payments__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-payments__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-payments__item">
                <div class="casino-payments__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-payments__item-title">Mastercard</div>
                <div class="casino-payments__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-payments__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-payments__item">
                <div class="casino-payments__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-payments__item-title">Mastercard</div>
                <div class="casino-payments__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-payments__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-payments__item">
                <div class="casino-payments__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-payments__item-title">Mastercard</div>
                <div class="casino-payments__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-payments__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-payments__item">
                <div class="casino-payments__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-payments__item-title">Mastercard</div>
                <div class="casino-payments__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-payments__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-payments__item">
                <div class="casino-payments__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-payments__item-title">Mastercard</div>
                <div class="casino-payments__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-payments__item-link orange-btn">Pay</a>
            </li>
            <li class="casino-payments__item">
                <div class="casino-payments__item-image">
                    <picture>
                        <source srcset="img/page7/payment.webp" type="image/webp">
                        <img loading="lazy" src="img/page7/payment.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-payments__item-title">Mastercard</div>
                <div class="casino-payments__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-payments__item-link orange-btn">Pay</a>
            </li>
        </ul>
        <a href="#" class="casino-payments__all-link burgundy-btn">Show All</a>
    </div>
</section>