<section class="author">
    <div class="author__info">
        <div class="author__info-image">
            <picture>
                <source srcset="img/page14/author-img.webp" type="image/webp">
                <img loading="lazy" src="img/page14/author-img.jpg" width="80"
                     height="80" alt="image-casino">
            </picture>
        </div>
        <div class="author__info-wrap">
            <p>Name Name</p>
            <p>Lead editor</p>
        </div>
    </div>
    <div class="author__text">
        <p>To play Norwegian casino games online safely, we recommend only doing so on regulated and licensed casino platforms. Also, be sure that our team only nominates the titles that you want to play in. In order to play Swedish casino games online safely, we recommend doing so only on regulated and licensed casino platforms. Also, make sure that our team only nominates titles that</p>
    </div>
    <div class="author__social-wrap">
        <div class="author__social-text">Social network of the author:</div>
        <div class="author__social">
            <a href="#" class="author__social-item burgundy-btn" aria-label="link-instagram">
                <svg width="18px">
                    <use xlink:href="img/sprite.svg#insta"></use>
                </svg>
            </a>
            <a href="#" class="author__social-item burgundy-btn" aria-label="link-facebook">
                <svg width="10px">
                    <use xlink:href="img/sprite.svg#facebook"></use>
                </svg>
            </a>
            <a href="#" class="author__social-item burgundy-btn" aria-label="link-twitter">
                <svg width="19.5px">
                    <use xlink:href="img/sprite.svg#twitter"></use>
                </svg>
            </a>
            <a href="#" class="author__social-item burgundy-btn" aria-label="link-telegram">
                <svg width="20px">
                    <use xlink:href="img/sprite.svg#telegram"></use>
                </svg>
            </a>
        </div>
    </div>
</section>