<section class="bonus">
  <div class="bonus__container">
    <h2 class="bonus__title title">सर्वश्रेष्ठ ऑनलाइन केसिनो</h2>
    <p class="bonus__text">ऐसी कई विशेषताएं हैं जो बिटकॉइन को ऑनलाइन कैसीनो और अन्य जगहों पर ऑनलाइन स्थान पर लेनदेन के लिए एक लोकप्रिय विकल्प बनाती हैं।</p>
    <div class="bonus__tabs-wrap">
      <ul class="bonus__tabs">
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn _active" aria-label="all">सभी</button>
        </li>
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn" aria-label="लाइसेंस">लाइसेंस</button>
        </li>
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn " aria-label="नया">नया</button>
        </li>
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn" aria-label="लाइसेंस">लाइसेंस</button>
        </li>
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn" aria-label="नया">नया</button>
        </li>
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn" aria-label="लाइसेंस">लाइसेंस</button>
        </li>
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn" aria-label="नया">नया</button>
        </li>
      </ul>
    </div>
    <ul class="bonus__list">
      <li class="bonus__item">
        <div class="bonus__item-info">
          <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
          <div class="bonus__item-info-text">
            Какой- то супер дупер текст при наведении
          </div>
        </div>

        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-title">Parimatch</div>
        <div class="bonus__item-licensed">
          <div class="bonus__item-licensed-one">सत्यापित</div>
          <div class="bonus__item-licensed-two">Licensed</div>
        </div>
        <a href="#" class="bonus__item-link">खेलें</a>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info">
          <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
          <div class="bonus__item-info-text">
            Какой- то супер дупер текст при наведении
          </div>
        </div>

        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-title">Parimatch</div>
        <div class="bonus__item-licensed">
          <div class="bonus__item-licensed-one">सत्यापित</div>
          <div class="bonus__item-licensed-two">Licensed</div>
        </div>
        <a href="#" class="bonus__item-link">खेलें</a>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info">
          <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
          <div class="bonus__item-info-text">
            Какой- то супер дупер текст при наведении
          </div>
        </div>

        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-title">Parimatch</div>
        <div class="bonus__item-licensed">
          <div class="bonus__item-licensed-one">सत्यापित</div>
          <div class="bonus__item-licensed-two">Licensed</div>
        </div>
        <a href="#" class="bonus__item-link">खेलें</a>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info">
          <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
          <div class="bonus__item-info-text">
            Какой- то супер дупер текст при наведении
          </div>
        </div>

        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-title">Parimatch</div>
        <div class="bonus__item-licensed">
          <div class="bonus__item-licensed-one">सत्यापित</div>
          <div class="bonus__item-licensed-two">Licensed</div>
        </div>
        <a href="#" class="bonus__item-link">खेलें</a>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info">
          <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
          <div class="bonus__item-info-text">
            Какой- то супер дупер текст при наведении
          </div>
        </div>

        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-title">Parimatch</div>
        <div class="bonus__item-licensed">
          <div class="bonus__item-licensed-one">सत्यापित</div>
          <div class="bonus__item-licensed-two">Licensed</div>
        </div>
        <a href="#" class="bonus__item-link">खेलें</a>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info">
          <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
          <div class="bonus__item-info-text">
            Какой- то супер дупер текст при наведении
          </div>
        </div>

        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-title">Parimatch</div>
        <div class="bonus__item-licensed">
          <div class="bonus__item-licensed-one">सत्यापित</div>
          <div class="bonus__item-licensed-two">Licensed</div>
        </div>
        <a href="#" class="bonus__item-link">खेलें</a>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info">
          <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
          <div class="bonus__item-info-text">
            Какой- то супер дупер текст при наведении
          </div>
        </div>

        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-title">Parimatch</div>
        <div class="bonus__item-licensed">
          <div class="bonus__item-licensed-one">सत्यापित</div>
          <div class="bonus__item-licensed-two">Licensed</div>
        </div>
        <a href="#" class="bonus__item-link">खेलें</a>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info">
          <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
          <div class="bonus__item-info-text">
            Какой- то супер дупер текст при наведении
          </div>
        </div>

        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-title">Parimatch</div>
        <div class="bonus__item-licensed">
          <div class="bonus__item-licensed-one">सत्यापित</div>
          <div class="bonus__item-licensed-two">Licensed</div>
        </div>
        <a href="#" class="bonus__item-link">खेलें</a>
      </li>

    </ul>
    <a href="#" class="bonus__link">और दिखाओ</a>
  </div>
</section>