<section class="slot">
    <div class="slot__container">
        <h2 class="slot__title title">सर्वश्रेष्ठ ऑनलाइन केसिनो</h2>
        <p class="slot__text">ऐसी कई विशेषताएं हैं जो बिटकॉइन को ऑनलाइन कैसीनो और अन्य जगहों पर ऑनलाइन स्थान पर लेनदेन के लिए एक लोकप्रिय विकल्प बनाती हैं।</p>
        <div class="slot__tabs-wrap">
            <ul class="slot__tabs">
                <li class="slot__tabs-item">
                    <button class="slot__tabs-btn _active" aria-label="all">सभी</button>
                </li>
                <li class="slot__tabs-item">
                    <button class="slot__tabs-btn" aria-label="लाइसेंस">लाइसेंस</button>
                </li>
                <li class="slot__tabs-item">
                    <button class="slot__tabs-btn " aria-label="नया">नया</button>
                </li>
                <li class="slot__tabs-item">
                    <button class="slot__tabs-btn" aria-label="लाइसेंस">लाइसेंस</button>
                </li>
                <li class="slot__tabs-item">
                    <button class="slot__tabs-btn" aria-label="नया">नया</button>
                </li>
                <li class="slot__tabs-item">
                    <button class="slot__tabs-btn" aria-label="लाइसेंस">लाइसेंस</button>
                </li>
                <li class="slot__tabs-item">
                    <button class="slot__tabs-btn" aria-label="नया">नया</button>
                </li>
            </ul>
        </div>
        <ul class="slot__list">
            <li class="slot__item">
                <div class="slot__item-image">
                    <picture>
                        <source srcset="img/home/slot/casino-img.webp" type="image/webp">
                        <img loading="lazy" src="img/home/slot/casino-img.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="slot__item-title">Parimatch</div>
                <div class="slot__item-licensed">
                    <div class="slot__item-licensed-one">सत्यापित</div>
                    <div class="slot__item-licensed-two">Licensed</div>
                </div>
                <a href="#" class="slot__item-link orange-btn">खेलें</a>
            </li>
            <li class="slot__item">
                <div class="slot__item-image">
                    <picture>
                        <source srcset="img/home/slot/casino-img.webp" type="image/webp">
                        <img loading="lazy" src="img/home/slot/casino-img.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="slot__item-title">Parimatch</div>
                <div class="slot__item-licensed">
                    <div class="slot__item-licensed-one">सत्यापित</div>
                    <div class="slot__item-licensed-two">Licensed</div>
                </div>
                <a href="#" class="slot__item-link orange-btn">खेलें</a>
            </li>
            <li class="slot__item">
                <div class="slot__item-image">
                    <picture>
                        <source srcset="img/home/slot/casino-img.webp" type="image/webp">
                        <img loading="lazy" src="img/home/slot/casino-img.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="slot__item-title">Parimatch</div>
                <div class="slot__item-licensed">
                    <div class="slot__item-licensed-one">सत्यापित</div>
                    <div class="slot__item-licensed-two">Licensed</div>
                </div>
                <a href="#" class="slot__item-link orange-btn">खेलें</a>
            </li>
            <li class="slot__item">
                <div class="slot__item-image">
                    <picture>
                        <source srcset="img/home/slot/casino-img.webp" type="image/webp">
                        <img loading="lazy" src="img/home/slot/casino-img.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="slot__item-title">Parimatch</div>
                <div class="slot__item-licensed">
                    <div class="slot__item-licensed-one">सत्यापित</div>
                    <div class="slot__item-licensed-two">Licensed</div>
                </div>
                <a href="#" class="slot__item-link orange-btn">खेलें</a>
            </li>
            <li class="slot__item">
                <div class="slot__item-image">
                    <picture>
                        <source srcset="img/home/slot/casino-img.webp" type="image/webp">
                        <img loading="lazy" src="img/home/slot/casino-img.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="slot__item-title">Parimatch</div>
                <div class="slot__item-licensed">
                    <div class="slot__item-licensed-one">सत्यापित</div>
                    <div class="slot__item-licensed-two">Licensed</div>
                </div>
                <a href="#" class="slot__item-link orange-btn">खेलें</a>
            </li>
            <li class="slot__item">
                <div class="slot__item-image">
                    <picture>
                        <source srcset="img/home/slot/casino-img.webp" type="image/webp">
                        <img loading="lazy" src="img/home/slot/casino-img.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="slot__item-title">Parimatch</div>
                <div class="slot__item-licensed">
                    <div class="slot__item-licensed-one">सत्यापित</div>
                    <div class="slot__item-licensed-two">Licensed</div>
                </div>
                <a href="#" class="slot__item-link orange-btn">खेलें</a>
            </li>
            <li class="slot__item">
                <div class="slot__item-image">
                    <picture>
                        <source srcset="img/home/slot/casino-img.webp" type="image/webp">
                        <img loading="lazy" src="img/home/slot/casino-img.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="slot__item-title">Parimatch</div>
                <div class="slot__item-licensed">
                    <div class="slot__item-licensed-one">सत्यापित</div>
                    <div class="slot__item-licensed-two">Licensed</div>
                </div>
                <a href="#" class="slot__item-link orange-btn">खेलें</a>
            </li>
            <li class="slot__item">
                <div class="slot__item-image">
                    <picture>
                        <source srcset="img/home/slot/casino-img.webp" type="image/webp">
                        <img loading="lazy" src="img/home/slot/casino-img.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="slot__item-title">Parimatch</div>
                <div class="slot__item-licensed">
                    <div class="slot__item-licensed-one">सत्यापित</div>
                    <div class="slot__item-licensed-two">Licensed</div>
                </div>
                <a href="#" class="slot__item-link orange-btn">खेलें</a>
            </li>
        </ul>
        <a href="#" class="slot__link burgundy-btn">और दिखाओ</a>
    </div>
</section>