<section class="top">
    <div class="top__container">
        <h2 class="top__title title">सर्वश्रेष्ठ ऑनलाइन केसिनो</h2>
        <p class="top__text">ऐसी कई विशेषताएं हैं जो बिटकॉइन को ऑनलाइन कैसीनो और अन्य जगहों पर ऑनलाइन स्थान पर लेनदेन के लिए एक लोकप्रिय विकल्प बनाती हैं।</p>
        <ul class="top__list">
            <li class="top__item">
                <div class="top__item-image">
                    <picture>
                        <source srcset="img/home/top/cent.webp" type="image/webp">
                        <img loading="lazy" src="img/home/top/cent.png" width="168"
                             height="168" alt="image-casino">
                    </picture>
                </div>
                <div class="top__item-title">Roulette</div>
                <p class="top__item-text">ऐसी कई विशेषताएं हैं जो बिटकॉइन को ऑनलाइन कैसीनो और अन्य जगहों पर ऑनलाइन </p>
                <a href="#" class="top__item-link  orange-btn">प्रदाता अवलोकन</a>
            </li>
            <li class="top__item">
                <div class="top__item-image">
                    <picture>
                        <source srcset="img/home/top/cube.webp" type="image/webp">
                        <img loading="lazy" src="img/home/top/cube.png" width="168"
                             height="168" alt="image-casino">
                    </picture>
                </div>
                <div class="top__item-title">Live Casino</div>
                <p class="top__item-text">ऐसी कई विशेषताएं हैं जो बिटकॉइन को ऑनलाइन कैसीनो और अन्य जगहों पर ऑनलाइन </p>
                <a href="#" class="top__item-link  orange-btn">प्रदाता अवलोकन</a>
            </li>
            <li class="top__item">
                <div class="top__item-image">
                    <picture>
                        <source srcset="img/home/top/card.webp" type="image/webp">
                        <img loading="lazy" src="img/home/top/card.png" width="168"
                             height="168" alt="image-casino">
                    </picture>
                </div>
                <div class="top__item-title">Blackjack</div>
                <p class="top__item-text">ऐसी कई विशेषताएं हैं जो बिटकॉइन को ऑनलाइन कैसीनो और अन्य जगहों पर ऑनलाइन </p>
                <a href="#" class="top__item-link  orange-btn">प्रदाता अवलोकन</a>
            </li>
            <li class="top__item">
                <div class="top__item-image">
                    <picture>
                        <source srcset="img/home/top/horseshoe.webp" type="image/webp">
                        <img loading="lazy" src="img/home/top/horseshoe.png" width="168"
                             height="168" alt="image-casino">
                    </picture>
                </div>
                <div class="top__item-title">Roulette</div>
                <p class="top__item-text">ऐसी कई विशेषताएं हैं जो बिटकॉइन को ऑनलाइन कैसीनो और अन्य जगहों पर ऑनलाइन </p>
                <a href="#" class="top__item-link  orange-btn">प्रदाता अवलोकन</a>
            </li>
        </ul>
    </div>
</section>