<section class="payment" id="block7">
    <div class="payment__row">
        <h2 class="payment__title title">Payment methods</h2>
        <div class="payment__tabs">
            <button type="button" class="payment__tabs-btn _active">All</button>
            <button type="button" class="payment__tabs-btn ">Not all</button>
        </div>
    </div>
    <ul class="payment__list">
        <li class="payment__item">
            <div class="payment__item-image">
                <picture>
                    <source srcset="img/page3/payment/payment-image.webp" type="image/webp">
                    <img loading="lazy" src="img/page3/payment/payment-image.jpg" width="51"
                         height="51" alt="image-casino">
                </picture>
            </div>
            <div class="payment__item-name">1x2 Gaming</div>
        </li>
        <li class="payment__item">
            <div class="payment__item-image">
                <picture>
                    <source srcset="img/page3/payment/payment-image.webp" type="image/webp">
                    <img loading="lazy" src="img/page3/payment/payment-image.jpg" width="51"
                         height="51" alt="image-casino">
                </picture>
            </div>
            <div class="payment__item-name">1x2 Gaming</div>
        </li>
        <li class="payment__item">
            <div class="payment__item-image">
                <picture>
                    <source srcset="img/page3/payment/payment-image.webp" type="image/webp">
                    <img loading="lazy" src="img/page3/payment/payment-image.jpg" width="51"
                         height="51" alt="image-casino">
                </picture>
            </div>
            <div class="payment__item-name">1x2 Gaming</div>
        </li>
        <li class="payment__item">
            <div class="payment__item-image">
                <picture>
                    <source srcset="img/page3/payment/payment-image.webp" type="image/webp">
                    <img loading="lazy" src="img/page3/payment/payment-image.jpg" width="51"
                         height="51" alt="image-casino">
                </picture>
            </div>
            <div class="payment__item-name">1x2 Gaming</div>
        </li>
        <li class="payment__item">
            <div class="payment__item-image">
                <picture>
                    <source srcset="img/page3/payment/payment-image.webp" type="image/webp">
                    <img loading="lazy" src="img/page3/payment/payment-image.jpg" width="51"
                         height="51" alt="image-casino">
                </picture>
            </div>
            <div class="payment__item-name">1x2 Gaming</div>
        </li>
        <li class="payment__item">
            <div class="payment__item-image">
                <picture>
                    <source srcset="img/page3/payment/payment-image.webp" type="image/webp">
                    <img loading="lazy" src="img/page3/payment/payment-image.jpg" width="51"
                         height="51" alt="image-casino">
                </picture>
            </div>
            <div class="payment__item-name">1x2 Gaming</div>
        </li>
    </ul>
</section>