// colors
$white: #FFFFFF;
$white-hover: #c5c3c3;
$grey: #808080;
$orange:  #E1712C;
$white-grey: #FDFDFD;
$burgundy: #691A2E;
$black-one: #111111;

$orangeBtn: #E1712D;
$orangeBtn-hover: #C26226;
$boxShadowBtn: inset 0px -4px 0px rgba(0, 0, 0, 0.1), inset 0px 4px 0px rgba(255, 255, 255, 0.2);

$greyBtn: rgba(255, 255, 255, 0.2);
$greyBtn-hover: rgba(255, 255, 255, 0.1);

//transition
$transition: .3s ease;

//fonts
$font-popins-reg: 'Popins-reg', sans-serif;
$font-popins-semb: 'Popins-semb', sans-serif;
