// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "base/nullstyle";
@import "base/wrapper";


// подключения компонентов страницы
@import "components/header";
@import "home/_casino.scss";


[class*="__container"] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  &._lock {
    overflow: hidden;
  }
  font-family: $font-popins-reg;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: BLACK;
  background: #1E1E1E;
}




